/* Base Application Styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  color: #fff;
  background: #6898C5;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

h1 {
  text-align: center;
  font-size: 50px;
}

input[type="text"] {
  color: black;
  border-radius: 0;
  border: 0;
  height: 50px;
  font-size: 25px;
  background-color: white;
  margin-bottom: 25px;
}

button {
  background-color: green;
  border-radius: 0;
  border: 0;
  height: 50px;
  trasition: all 300ms;
}

button:hover {
  background-color: darkgreen;
  transition: all 300ms;
}

ul {
  list-style-type: none;
}

ul li {
  height: 75px;
  background-color: white;
  border-bottom: solid 1px black;
  color: black;
}

ul li div {
  display: table;
  vertical-align: middle;
  height: 100%;
}

p {
  display: table-cell;
  vertical-align: middle;
}

.options {
  float: right;
  display: table;
  height: 100%;
}

.options span {
  /*padding: 8px;*/
  /*padding-top: 27px;*/
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transition: all 300ms;
}

.glyphicon:hover {
  cursor: pointer;
  color: gray;
  transition: all 300ms;
}
